<%- include("partials/header") -%>

<%posts.forEach(function(post) {%>
<div class="sub-container">
    <h3><%= post.title %></h3>
    <p>
        <%= post.content.substring(0, 100) + "... " %><a
            href="/posts/<%= post._id %> "
            >Read More</a
        >
    </p>
</div>
<%}) %> <%- include("partials/footer") -%>
